.widthCard {
  width: 18rem;
}

.img__svg {
  width: 20px;
  height: 20px;
  fill: #eeb12e;
  margin-right: 5px;
}

.span {
  margin-top: 6px;
}
.row {
  --bs-gutter-x: -10.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
