html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  height: 360px;
}

.footer-dev {
  background-color: #f1f1f1;
}
.footer-copy {
  background-color: rgba(0, 0, 0, 0.2);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.pagination__movies {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
  margin-top: 60px;
}

.bg {
  background-color: #37474f;
  height: 100vh;
}

.card__text {
  color: rgb(40, 158, 187);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

.btn__pag {
  width: 5rem;
  margin: 1px;
  height: 2.5rem;
  text-align: center;
}

.container__Image {
  width: 43rem;
  background-color: #37474f;
}

.embed-responsive {
  object-fit: cover;
}
